@inherits Umbraco.Web.Mvc.UmbracoViewPage<IEnumerable<ILink>>
@using Buzz.Common.Models

@{
    if(Model.Any())
    {
        <ul class="breadcrumb">
            @foreach (var item in Model)
            {
                <li><a href="@item.Url">@item.Title</a></li>
            }
        </ul>
    }
}