@inherits Umbraco.Web.Mvc.UmbracoViewPage<ILinkTier>
@using Buzz.Common.Models
@{    
    @RenderTier(Model, true)
}

@helper RenderTier(ILinkTier tier, bool firstLinkIsHome = false)
{
    <ul>
        @if(firstLinkIsHome)
        {
        <li class="@tier.CssClass"><a href="@tier.Url">@tier.Title</a></li>
        }
        @if(tier.Children.Any())
        {
        
            foreach(var item in tier.Children)
            {
                <li class="@item.CssClass"><a href="@item.Url">@item.Title</a>@RenderTier(item)</li>
            }
        
        }
    </ul>
}